/.vscode
/config.php
phpinfo.php
composer.lock
phpdoc.dist.xml
_sources
*.sublime-project
*.sublime-workspace
deploy_client*
vendor*
tmp*
_tmp*
_old*
_OLD*
data/*
src/api/database/*
api/src/upload/*
app/src/config.js
app/src/assets/config.js
*.log
test.php
Thumbs.db
.env
/upload/*
api/src/export/*