RewriteEngine On

# Unntak for Swagger-mappen
RewriteCond %{REQUEST_URI} ^/swagger/ [NC]
RewriteRule ^ - [L]

# Sørg for at alle forespørsler som ikke peker til en eksisterende fil eller mappe, omdirigeres til index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
